@use "../abstracts" as *;
@use "../base/typography" as typo;

.features {
  margin-bottom: 133px;
  display: grid;
  gap: 32px;
  @include respond(medium, min) {
    gap: 0;
    margin-bottom: 152px;
  }
  @include respond(large, min) {
    margin-bottom: 163px;
  }
}

.feature-heading {
  @include text-preset(typo.$text-preset-1-mobile);
  @include respond(medium, min) {
    @include text-preset(typo.$text-preset-2);
  }
}

.feature-heading span {
  display: block;
  @include respond(medium, min) {
    display: unset;
  }
}

.features-intro {
  display: grid;
  gap: 16px;
  padding: 0 32px;
  text-align: center;
  @include respond(medium, min) {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 72px 0;
  }
}

.tabs-wrapper {
  padding: 17px 32px 0 32px;
  @include respond(medium, min) {
    padding: 0 0 24px 0;
    max-width: 608px;
    width: 100%;
    margin: 0 auto;
  }
}

.tabs {
  display: grid;
  gap: 37px;
  position: relative;
  @include respond(medium, min) {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
}

.tabs::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: hsla(231, 58%, 55%, 0.2);
  top: -17px;
  left: 0;
  @include respond(medium, min) {
    display: none;
  }
}

.feature-img {
  margin-bottom: 32px;
  width: 100%;
  height: auto;
  aspect-ratio: 375 / 282;
  @include respond(medium, min) {
    aspect-ratio: 768 / 478;
    margin-bottom: 64px;
  }
  @include respond(large, min) {
    aspect-ratio: 705 / 507;
  }
}

.article-contents {
  @include respond(large, min) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: auto;
    justify-items: space-between;
    align-items: center;
  }
}

.feature-article-text {
  display: grid;
  gap: 16px;
  padding: 0 32px;
  justify-items: center;
  text-align: center;
  @include respond(medium, min) {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    gap: 24px;
    padding: 0;
  }
  @include respond(large, min) {
    padding: 0;
    text-align: left;
    justify-items: start;
  }
}
