@use "../abstracts" as *;

.hero-wrapper {
  @include respond(large, min) {
    padding: 0 30px;
  }
}

.hero {
  display: grid;
  gap: 48px;
  margin-bottom: 128px;
  @include respond(medium, min) {
    gap: 72px;
    margin-bottom: 126px;
  }
  @include respond(large, min) {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 80px;
    grid-template-columns: minmax(450px, 540px) 569px;
    gap: 0;
    align-items: center;
  }
}

.hero picture {
  @include respond(large, min) {
    grid-column: 2;
    grid-row: 1;
  }
}

.hero-content {
  display: grid;
  gap: 24px;
  padding: 0 31px;
  text-align: center;
  @include respond(medium, min) {
    padding: 0 114px;
  }
  @include respond(large, min) {
    padding: 0;
    text-align: left;
  }
}

.hero-buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
  @include respond(large, min) {
    justify-content: flex-start;
  }
}
