@use "../abstracts" as *;
@use "../base/typography" as typo;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #485ccb;
  color: $clr-body-text-light;
}

img,
svg {
  display: block;
}

.site-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: $clr-white;
  box-shadow: -10px 0 25px -20px rgba(0, 0, 0, 0.25),
    10px 0 25px -20px rgba(0, 0, 0, 0.25);
}

.no-scroll {
  overflow: hidden;
}

.overlay {
  display: none;
  background: hsla(229, 31%, 21%, 0.65);
  position: fixed;
  inset: 0;
  z-index: 3000;
}

.overlay.visible {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* Safari/Chrome */
  appearance: textfield; /* Standard */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
