// COLOR PALETTE
$white: #ffffff;
$black: #000000;
$blue950: #242a45;
$blue950-50: hsla(229, 31%, 21%, 0.5);
$blue600: #5267df;
$grey600: #5b6074;
$grey50: #f7f7f7;
$red400: #fa5959;

// SEMANTIC VALUES
$clr-body-text-dark: $blue950;
$clr-body-text-light: $blue950-50;
$clr-accent: $blue600;
$clr-white: $white;
$clr-footer-bg: $blue950;
$clr-red: $red400;
$clr-secondary-btn: $grey50;
$clr-secondary-btn-hover: $grey600;
